@font-face {
    font-family: 'Eest-Pro-Display';
    src: url('../storage/fonts/GT-Eest-Pro-Display/gteestiprodisplay_regular.otf') format('otf'),
        url('../storage/fonts/GT-Eest-Pro-Display/gteestiprodisplay_bold.otf') format('otf'),
        url('../storage/fonts/GT-Eest-Pro-Display/gteestiprodisplay_light.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

ul[class],
ol[class] {
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

a {
    text-decoration: none;
}

body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

ul[class],
ol[class] {
    list-style: none;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

img {
    max-width: 100%;
    display: block;
}

article>*+* {
    margin-top: 1em;
}

input,
button,
textarea,
select {
    font: inherit;
}

@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

body {
    font-family: 'Eest-Pro-Display', sans-serif;
    color: #fff;
}

/* .wrapper {
     max-width: 1440px; 
} */

header {
    background-color: #1C1C1C;
    display: flex;
    padding-top: 20px;
    padding-left: 120px;
    padding-bottom: 112px;
    border-top: 4px solid #38d872;
}

.logo {
    margin-right: 24px;
    width: 36px;
    height: 36px;
    transition: 0.5s;
}

.logo:hover {
    opacity: 0.7;
    transition: 0.5s;
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar-list {
    display: flex;
    align-items: center;
}

.navbar-item {
    font-weight: lighter;
    color: #fff;
    margin-right: 28px;
    text-transform: uppercase;
    transition: 0.5s;
}

.navbar-item:hover {
    opacity: 0.5;
    transition: 0.5s;
}

.navbar-link {
    color: #fff;
    font-size: 20px;
    font-style: normal;
    font-weight: lighter;
    line-height: normal;
    letter-spacing: 0.32px;
}

.main-container {
    background-color: #1C1C1C;
    padding-left: 120px;
    padding-bottom: 254px;
    margin-bottom: 232px;
    display: flex;
    background: linear-gradient(135deg, #1C1C1C, #1C1C1C 83%, #38d872 80%);
    flex-direction: column;
}

footer {
    background-color: #1C1C1C;
    padding-left: 120px;
    padding-bottom: 40px;
    padding-top: 40px;
    display: flex;
    background: linear-gradient(45deg, #1C1C1C, #1C1C1C 83%, #38d872 80%);
    flex-direction: column;
}

.main-container-services {
    background-color: #1C1C1C;
    padding-left: 120px;
    padding-bottom: 254px;
    display: flex;
    background: linear-gradient(135deg, #1C1C1C, #1C1C1C 83%, #38d872 80%);
    flex-direction: column;
    height: 900px;
}



h2 {
    font-size: 24px;
    font-style: normal;
    font-weight: 350;
    line-height: normal;
    letter-spacing: 0.48px;
    text-transform: uppercase;
    margin-bottom: 12px;
}

h1 {
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.56px;
    margin-bottom: 12px;
    text-transform: uppercase;
}

.main-content-desc {
    font-size: 18px;
    font-style: normal;
    font-weight: 350;
    line-height: normal;
    margin-bottom: 32px;
}

.wo-margin {
    margin-bottom: 4px;
}

.main-content-check-status {
    padding: 13px 20px;
    color: white;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    background-color: #38d872;
    border-radius: 3px;
    transition: 0.5s;
}

.main-content-check-status:hover {
    opacity: 0.7;
    transform: scale();
    transition: 0.5s;
}

.main-container-features {
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    background-color: #fff;
    z-index: 2;
    width: 1440px;
    height: 312px;
    margin-top: 312px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    color: black;
}

.feature {
    text-align: center;
    width: 20%;
    padding: 32px;
}

.feature-img {
    max-width: 100px;
    margin: 0 auto;
    margin-bottom: 20px;
    transition: 0.5s;
}

.feature-img:hover {
    scale: 1.1;
    transition: 0.5s;
}

#monitors-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 500px;
}

.monitor,
.monitor-h {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    position: relative;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.monitor-h {
    border: none;
    padding: 10px;
    margin-top: 10px;
    border-top: 1px solid #38d872;
    padding-top: 20px;
    border-radius: 0;
}

.monitor p,
.monitor h3 {
    margin: 0;
}

.status-indicator {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 15px;
}

.status-indicator.online {
    background-color: #38d872;
}

.status-indicator.offline {
    background-color: red;
}

.status-indicator.paused {
    background-color: yellow;
}

.monitor-details {
    display: none;
    padding: 10px;
    margin-top: 10px;
    border-top: 1px solid #ccc;
}

.monitor-details.visible {
    display: block;
}

.monitor {
    position: relative;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    overflow: hidden;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.monitor:hover {
    border-color: #38d872;
    box-shadow: 0 0 10px rgba(0, 128, 0, 0.3);
}

.monitor .status-indicator {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    transition: opacity 0.3s ease;
}

.monitor:hover .status-indicator {
    opacity: 0;
}

.monitor-details {
    display: none;
    padding: 10px;
    margin-top: 10px;
    border-top: 1px solid #ccc;
    transition: opacity 0.3s ease;
}

.monitor:hover .monitor-details {
    display: block;
    opacity: 1;
}

.monitor-details.visible {
    display: block;
    opacity: 1;
}

.footer-desc {
    font-weight: lighter;
    font-size: 16px;
    color: #ccc;
}

.footer-link {
    text-decoration: underline;
    transition: 0.5s;
    color: #9e9e9e;
}

.footer-link:hover {
    opacity: 0.5;
    transition: 0.5s;
}

@media screen and (max-width: 1200px) {

    .main-container {
        height: 1000px;
    }

    .main-container-features {
        flex-direction: column;
        width: 470px;
        height: 1300px;
        justify-content: center;
    }

    .feature {
        width: 70%;
    }

    footer {
        height: 600px;
        padding-top: 450px;
    }

    body {
        overflow-x: hidden;
        /* height: 2000px; */
    }

    .main-container-services{
        min-height: 100vh;
    }
}

@media screen and (max-width: 700px) {
    .main-container {
        height: 1000px;
        padding: 32px;
        margin-bottom: 0px;
    }

    header{
        padding: 32px;
        height: 100px;
    }

    .main-container-features {
        flex-direction: column;
        width: 300px;
        height: 1300px;
        justify-content: center;
        margin-top: 360px;
    }

    .feature {
        width: 90%;
        padding: 20px;
    }

    footer {
        height: 800px;
        padding-top: 720px;
        padding-left: 32px;
    }

    body {
        /* height: 1800px; */
        overflow-x: hidden;
    }

    h1{
        font-size: 48px;
    }

    .main-container-services{
        padding:32px;
        background: #1C1C1C;
    }
}